.header-nav {
  color: white; 
  padding: 10px 20px; 
  width: 100%; 
  box-sizing: border-box; 
  font-size: 18px;
  position: absolute; 
  top: 0; 
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
 
}

.header-nav .heading h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding-left: 4rem;

}

.header-nav .heading h1:hover {
  transform: scale(1.1);
  background: -webkit-linear-gradient(#4133a8, rgb(176, 21, 176));
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

.header-nav .navigation {
  list-style: none;
}

.header-nav .navigation ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 30px;
}

.header-nav .navigation ul li .txt{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.header-nav .navigation ul li a:hover {
  background: -webkit-linear-gradient(#968ddb, rgb(206, 103, 206));
  background-clip:text;
  -webkit-text-fill-color: transparent;

}