input, select{
  height: 40px;
  padding: 10px 20px;
  border: solid 2px rgb(144, 142, 142) !important;
  width: 100%;
  border-radius: 3px;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

button {
  padding: 0px 25px;
  border-radius: 2px;
  height: 40px !important;
}

.primary-contained-btn {
  background-color: var(--primary);
  color: white;
  padding: 0px 20px;
  cursor: pointer;
}
.primary-outlined-btn {
  background-color: white;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 3px;
  cursor: pointer;
}


