* {
    padding: 0;
    margin: 0;

}

.about {
    height: 100%;
    /* width: 100wh; */
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(35, 20, 74));
}

.about-container {
    height: 80px;
}

.about-container h1 {
    background: linear-gradient(rgb(150, 144, 199), rgb(88, 69, 132));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}

.line-container {
    position: relative;
    margin-top: 5px;
}

.line::before {
    content: '';
    position: sticky;
    /* Change position to sticky */
    top: 90px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(35, 20, 74));
    z-index: 1;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    /* Change position to absolute */
    top: 10px;
    /* Adjust the top position as needed */
    left: 50%;
    width: 33.3%;
    height: 1px;
    background: #fff;
    z-index: 1;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 2s infinite alternate;
}

@keyframes animate {
    0% {
        transform: translateX(0) scaleX(0);
        transform-origin: left;
        right: auto;
        left: 33.3%;
    }

    45% {
        transform: translateX(0) scaleX(1);
        transform-origin: left;
        right: auto;
        left: 33.3%;
    }

}

.about-content {
    height: 350px;
    padding: 2rem 10rem;
    display: flex;
}

.aboutImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding-top: 8rem;
    padding-right: 4rem;
    padding-left: 2rem;

}

.about-section {
    height: 500px;
    padding-top: 3rem;
}

.about-section h2 {
    background: linear-gradient(rgb(150, 144, 199), rgb(88, 69, 132));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

.about-card {
    margin: 4rem 4rem;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background: red; */

}

.card-content {
    height: 280px;
    width: 217px;
    background-color: rgb(250, 242, 242);
    border-radius: 5px;
    

}

.card-content  h1 {
    color: #000000;
    font-size: 23px;
    padding-top: 3px;
    font-weight: bold;
    text-align: center;
}

.card-content h3 {
    color: #fff;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;

}

.img1, .img2, .img3 {
    border-radius: 5px;
    object-fit: cover;
    width: 217px;
}
.guide-section{
    height: 500px;
    padding-top: 3rem;
}
.guide-section h2{
    background: linear-gradient(rgb(150, 144, 199), rgb(88, 69, 132));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}
.guide-card {
    margin: 4rem 4rem;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background: red; */

}
.guide-content{
    height: 280px;
    width: 217px;
    background-color: rgb(250, 242, 242);
    border-radius: 5px;
}
.guide-content  h1 {
    color: #000000;
    font-size: 20px;
    padding-top: 3px;
    font-weight: bold;
    text-align: center;
}
.guide-content h3 {
    color: #fff;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;

}
.img5{
    border-radius: 5px;
    object-fit: cover;
    width: 217px;
}